@import url("reset.scss");
@import url("https://fonts.googleapis.com/css?family=Neue+Haas+Grotesk+Display:400,500,700,800&display=swap");

$body-background: #f2f0e4;
$text-color: #000000;
$accent-color: #ff4800;
$font-family: "Neue Haas Grotesk Display", sans-serif;

@mixin container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 11.25rem;
  padding-right: 11.25rem;

  @media screen and (max-width: 1200px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @media screen and (max-width: 576px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

body {
  background-color: $body-background;
  color: $text-color;
  font-family: $font-family;
  font-size: 1.5rem;
  line-height: 1.4;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;

  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

svg {
  flex-shrink: 0;
}

header {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 7.75rem;

  @media screen and (max-width: 576px) {
    height: 5.75rem;
  }
}

.avatar {
  height: 3.125rem;
}

.logotype {
  width: 30rem;
  margin: 1.125rem 0;

  &.dark {
    display: none;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

#theme-toggle {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  .dark {
    display: none;
  }
}

main {
  @include container;

  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  min-height: calc(100vh - 248px);
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (max-width: 576px) {
    gap: 0;
    min-height: calc(100vh - 216px);
  }
}

p {
  margin: 1.125rem 0;
}

footer {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 7.5rem;
  border-top: 1px solid $text-color;
  font-size: 18px;

  .contact-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
    padding: 24px;
  }

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

a {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
}

body.dark-mode {
  background-color: $text-color;
  color: $body-background;

  .divider {
    background-color: #545751;
  }

  a {
    color: $body-background;
  }
}
