html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  font-family: inherit;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}
